<aside class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="mt-4">
                    <a class="sidebar-link" href="" aria-expanded="false"> </a>
                </li>
                <li class="sidebar-item">
                    <a
                        class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="pages-profile.html"
                        aria-expanded="false"
                    >
                        <i class="mdi mdi-account-network"></i>
                        <span class="hide-menu">Home</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
